<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cs5520.mobile_dev">

    <!-- Always include this permission -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Include only if your app benefits from precise location access. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/custom_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/custom_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cs5520mobiledev">
        <activity
            android:name=".LocationSensingActivity"
            android:exported="false" />
        <activity
            android:name=".FindPrimeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutMeActivity"
            android:exported="false" />
        <activity
            android:name=".LinkCollectorActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ClickyClickyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cs5520mobiledev.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>